<section class="container-fluid head-bar">
        <div class="heading">
            <h6>all products</h6>
            <div class="line">
                <p>Sort By:</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>All</option>
                    <option value="1">Skin Type</option>
                    <option value="2">Skin Concern</option>
                    <option value="3">Skin Product</option>
                </select>
            </div>
        </div>
    </section>
    <section class="container-fluid mobile-filter">
        <div class="row">
            <div class="logo">
                <img src="./image/filter.svg" alt="">
            </div>
            <select class="form-select" aria-label="Default select example">
                <option selected>SKIN TYPE</option>
                <option value="1">Best Sellers</option>
                <option value="2">Body Care</option>
                <option value="3">Eye Care</option>
                <option value="4">Hair Care</option>
                <option value="5">Kits & Sets</option>
                <option value="6">Cleansers</option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <option selected>SKIN CONCERN</option>
                <option value="1">Best Sellers</option>
                <option value="2">Body Care</option>
                <option value="3">Eye Care</option>
                <option value="4">Hair Care</option>
                <option value="5">Kits & Sets</option>
                <option value="6">Cleansers</option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <option selected>SKIN PRODUCT</option>
                <option value="1">Best Sellers</option>
                <option value="2">Body Care</option>
                <option value="3">Eye Care</option>
                <option value="4">Hair Care</option>
                <option value="5">Kits & Sets</option>
                <option value="6">Cleansers</option>
            </select>
            
        </div>
        <div class="text-filter">
            <a href="#!">0 filters applied</a>
            <p>86 result(s)</p>
            <a href="#!">Clear All</a>
        </div>
    </section>