<section class="home-alider">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ collection.metafields.custom_fields["collection_top_banner"] }}" width="100%">
                </div>
            </div>
        </div>
    </section>