{% if product.metafields.custom_fields["faqs"] != blank %}
{% assign data_attr = shop.metafields._cf_products["faqs"].data_attr %}

<section class="theultimate-accordia faq padding-top-bottom">
      <div class="container">
      	 <div class="top-head">
      	 	<h2>Frequently Asked Questions</h2>
      	 </div>
        <div class="row">
		<div class="col-md-6 col-12">
          {% for item in product.metafields.custom_fields["faqs"] %}
          <button class="accordion">{{ item.title }}</button>
          <div class="panel">
            <p>{{ item["faq_-_answer"] }}</p>
          </div>
          <hr>
          {% endfor %}  
          
		</div>
        <div class="col-md-6 col-12">
          {% for item in product.metafields.custom_fields["frequently_asked_question_-_ri"] %}
          <button class="accordion">{{ item["faq_-_question"] }}</button>
          <div class="panel">
            {% if item.body != blank %}
            <p>{{ item.body }}</p>
            {% endif %}
          </div>
          <hr>
          {% endfor %}  
		</div>
          </div>
      </div>
</section>  

{% endif %}


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>