<section class="blog">
			<div class="top-head">
				<h2>Blogs</h2>
			</div>
		<div class="container">
			<div class="row">
				<div id="blog-list" class="owl-carousel">
                  
                  {% for article in blogs.blogs.articles limit:3 %}
					<div class="blog-item">
                      <a href="{{ article.url }}">
						<img src="{{ article | img_url: 'large' }}" alt="">
						<p class="blog-text">{{ article.title }}</p>
                       </a> 
					</div>
                  {% endfor %}
					
					
				</div>
			</div>
		</div>
  <div class="blog-button">
    <a href="https://activbeaute.com/blogs/blogs">READ MORE</a>
  </div>
	</section>