<section class="highlight">
		<div class="container">
			<div class="row">
				<div id="certificate-icon" class="owl-carousel">
                  
                  {% for block in section.blocks %}
                  	<div class="certi-item">
						<img src="{{block.settings.feature_icon | img_url:'600x600'}}" />
<!-- 						<p>{{block.settings.feature_icon_text}}</p> -->
					</div>
					
					{% endfor %}
					
					
				</div>
			</div>
		</div>
	</section>




{% schema %}
  {
    "name": "Featurs Icons",
    "blocks": [
    {
      "type": "select",
      "name": "Add Icon Title",
      "settings": [
        {
          "id": "feature_icon",
          "type": "image_picker",
       		"label": "Add Icon"
        },
        {
          "id": "feature_icon_text",
          "type": "text",
       		"label": "Add Icon Text"
        }]
    }
  ]
  }
{% endschema %}