<!-- social start  -->
<section class="instafeed padding-top-bottom">
    <div class="container-fluid">
        <div class="top-head">
            <h2>Let’s Get Social</h2>
            <p><a href="#!">@activebeaute</a></p>
        </div>
        <div class="all-products">
            <div class="product-item">
                <a class="product-image" href="#!"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_30_1.png?v=1631734338" width="100%" /></a>
            </div>
            <div class="product-item">
                <a class="product-image" href="#!"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_31_1.png?v=1631734338" width="100%" /></a>
            </div>
            <div class="product-item">
                <a class="product-image" href="#!"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_32_1.png?v=1631734338" width="100%" /></a>
            </div>
            <div class="product-item">
                <a class="product-image" href="#!"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_33.png?v=1631734338" width="100%" /></a>
            </div>
            <div class="product-item">
                <a class="product-image" href="#!"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_33.png?v=1631734338" width="100%" /></a>
            </div>
            <div class="product-item">
                <a class="product-image" href="#!"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_33.png?v=1631734338" width="100%" /></a>
            </div>
        </div>
    </div>
</section>
<!-- social end  -->