<!-- offer start  -->
	<section class="offer padding-top-bottom">
			<div class="top-head">
				<h2>Offers</h2>
			</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-12">
					<div class="con-img">
						<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_18.png?v=1631734338" alt="" />
						<div class="con-text">
							<button href="#!" class="btn button">
								shop now
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-12 sideImg">
					<div class="col-md-12 col-12">
						<div class="con-img">
							<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_19.png?v=1631734338" alt="">
							<div class="con-text">

								<button href="#!" class="btn button">
									shop now
								</button>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-12">
						<div class="con-img">
							<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_20.png?v=1631734338" alt="">
							<div class="con-text">
								<button href="#!" class="btn button">
									shop now
								</button>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- offer end -->
{% schema %}
  {
    "name": "Offers",
    "settings": []
  }
{% endschema %}