	<!-- category start  -->
	<section class="skintone category padding-top-bottom">
		<div class="container">
			<div class="top-head">
				<h2>shop by CATEGORY</h2>
			</div>
			<div id="category-list" class="owl-carousel">
				<div class="tones-item">
					<a href="#!" class="category-img">
						<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_43.png?v=1631734338" />
						<p>Face Wash</p>
					</a>
				</div>
				<div class="tones-item">
					<a href="#!" class="category-img">
						<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_44.png?v=1631734338" />
						<p>SCRUB</p>
					</a>
				</div>
				<div class="tones-item">
					<a href="#!" class="category-img">
						<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_46.png?v=1631734338" />
						<p>Moisturisers</p>
					</a>
				</div>
				<div class="tones-item">
					<a href="#!" class="category-img">
						<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_48.png?v=1631734338" />
						<p>Serum</p>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- category end -->
{% schema %}
  {
    "name": "Category",
    "settings": []
  }
{% endschema %}
