<!-- video start  -->
	<div class="container">
			<div class="row justify-content-center">
		<div class="watch-video">
			<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_29.png?v=1631734338" alt="" />
			<div class="icon">
				<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/watch-video.svg?v=1631734338" alt="">
			</div>
		</div>
		</div>
	</div>
	<!-- video end  -->
{% schema %}
  {
    "name": "Video",
    "settings": []
  }
{% endschema %}