<!-- blog Start  -->
	<section class="blog padding-top-bottom">
			<div class="top-head">
				<h2>Blogs</h2>
			</div>
		<div class="container">
			<div class="row">
				<div id="blog-list" class="owl-carousel">
					<div class="blog-item">
						<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_30.png?v=1631734338" alt="" />
						<p class="blog-date">DATE: 8TH MAY 2021</p>
						<p class="blog-text">Lorem ipsum dolor sit amet, consect eturadipiscing elit. </p>
					</div>
					<div class="blog-item">
						<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_31.png?v=1631734338" alt="" />
						<p class="blog-date">DATE: 8TH MAY 2021</p>
						<p class="blog-text">Lorem ipsum dolor sit amet, consect eturadipiscing elit. </p>
					</div>
					<div class="blog-item">
						<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_32.png?v=1631734338" alt="" />
						<p class="blog-date">DATE: 8TH MAY 2021</p>
						<p class="blog-text">Lorem ipsum dolor sit amet, consect eturadipiscing elit. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- blog End -->

{% schema %}
  {
    "name": "Blog",
    "settings": []
  }
{% endschema %}
