<!-- customer reviews starts  -->
	<section class="shop skintone padding-top-bottom">
		<div class="container">
			<div class="top-head">
				<h2>Shop by skin Tone</h2>
			</div>
			<div id="tones-list" class="owl-carousel">
				<div class="tones-item">
                  {%- for block in section.blocks -%}
						<div class="images one">
							<img src="{{ block.settings.firstImage | img_url: '1800x600'}}" alt="..." />
						</div>
                  {%- endfor -%}
						<div class="img-text">
							<div class="review-stars">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet nisl egestas,
								vulputate nulla id, fringilla lectus. Sed vel ligula magna.</p>
							<p>@customer_name</p>
						</div>
				</div>
              
<!-- 				<div class="tones-item">
						<div class="images two">
							<img src="{{ section.blocks.settings.secondImage | img_url:'1800 × 600' }}" alt="..." />
						</div>
						<div class="img-text">
							<div class="review-stars">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet nisl egestas,
								vulputate nulla id, fringilla lectus. Sed vel ligula magna.</p>
							<p>@customer_name</p>
						</div>
				</div> -->
<!--               
				<div class="tones-item">
						<div class="images three">
							<img src="{{ section.blocks.settings.thirdImage | img__url: '1800 × 600' }}" alt="..." />
						</div>
						<div class="img-text">
							<div class="review-stars">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star-white.svg?v=1631734338" alt="">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet nisl egestas,
								vulputate nulla id, fringilla lectus. Sed vel ligula magna.</p>
							<p>@customer_name</p>
						</div>
				</div> -->
			</div>
		</div>
	</section>
	<!-- customer reviews  End-->

{% schema %}
  {
    "name": "Skin Tone",
    "blocks": [
    {
      "type": "select",
      "name": "Add customer image",
      "settings": [
		{
          	"id": "firstImage",
          	"type": "image_picker",
			"label": "First customer"
        }
      ]
    }
  ]
  }
{% endschema %}