<style>
  #insta-feed h2 {display:none !important;}
</style>

<section class="instafeed padding-top-bottom">
		<div class="container-fluid">
			<div class="top-head">
				<h2>Let’s Get Social</h2>
				<p><a href="#!">@activebeaute</a></p>
			</div>
          <div id="insta-feed"></div>
		</div>
	</section>