<div class="marquee-lines" style="background:#efefef;padding:10px;border-top:1px solid #ccc;" >
<marquee style="font-size:16px;margin-bottom:0px;padding-bottom:0px;" direction="left" scrollamount="7" height="100%" width="100%">
<b>DISCLAIMER:</b> 1. In case of any allergies or rashes, please consult a dermatologist.  |  2. All images are shown for illustration purposes,  actual results may vary.  |  3. For external use only. Store in a cool & dry place.
</marquee>
</div>  