<section class="use padding-top-bottom">
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-12">
            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_80.png?v=1631734338" alt="" />
         </div>
         <div class="col-md-6 col-12">
            <h2>DIRECTIONS TO USE</h2>
            <p>Spray 2-3 times on face & neck before stepping outside.</p>
            <p>We Recommend : Use every day for radiant results.</p>
         </div>
      </div>
   </div>
 </section> 