{% if product.metafields.custom_fields["product_feature_icons"] != blank %}
<section class="ico forinner-bg margin-top-bottom" style="background:#{{ product.metafields.custom_fields["product_icons_bg_color"] }} !important;">
      <div class="container">
         <div id="make-owl" class="owl-carousel owl-theme row">
           {% for item in product.metafields.custom_fields["product_feature_icons"] %}
            <div class="ico-item">
               <img src="{{ item["product_feature_icon"] }}" alt="">
<!--                <p>{{ item["product_feature_text"] }}</p> -->
            </div>
           {% endfor %}
         </div>
      </div>
   </section>
{% endif %}