<section class="benefits padding-top-bottom">
    <div class="container">
        <div class="top-head">
            <h2>benefits</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-6 left-div">
                <div class="sub-div">
                    <p>1</p>
                    <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_62.png?v=1631734338"
                        alt="" />
                    <small>Provides deep yet gentle cleanse and exfoliation</small>
                </div>
                <div class="sub-div">
                    <p>2</p>
                    <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_67.png?v=1631734338"
                        alt="" />
                    <small>Removes dry and dead skin, makeup.</small>
                </div>
                <div class="sub-div">
                    <p>3</p>
                    <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_67.png?v=1631734338"
                        alt="" />
                    <small>Removes dry and dead skin, makeup.</small>
                </div>
            </div>
            <div class="col-md-4 middle-div">
                {% assign current_variant = product.selected_or_first_available_variant %}

                {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

                <img src="{{ featured_image | img_url: "large" }}" alt="{{ featured_image.alt | escape }}" />
            </div>
            <div class="col-md-4 col-6 right-div">
                <div class="sub-div">
                    <p>4</p>
                    <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_69.png?v=1631734338"
                        alt="" />
                    <small>Pollution and other impurities from pores</small>
                </div>
                <div class="sub-div">
                    <p>5</p>
                    <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_68.png?v=1631734338"
                        alt="" />
                    <small>Skin is revitalized and smooth after cleansing.</small>
                </div>
                <div class="sub-div">
                    <p>6</p>
                    <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_68.png?v=1631734338"
                        alt="" />
                    <small>Skin is revitalized and smooth after cleansing.</small>
                </div>
            </div>
        </div>
    </div>
</section>