<section class="featured-product padding-top-bottom">
      <div class="container">
      	 <div class="top-head">
      	 	<h2>we recommend</h2>	
      	 </div>
         <div id="product-list" class="owl-carousel">
            <div class="product-item">
               <a class="product-image" href="#!"><img src="./image/Rectangle 7.png" width="70%" /></a>
               <h6>deep conditioning mask</h6>
               <div class="price-stars">
                  <div class="review-stars">
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                  </div>
                  <div class="reviews">(8 Reviews)</div>
               </div>

               <h5>&#x20B9; 2200/- <span> &#x20B9; 2300/-</span></h5>
               <a class="add-to-cart" href="#!">Shop now</a>
            </div>
            <div class="product-item">
               <a class="product-image" href="#!"><img src="./image/Rectangle 8.png" width="70%" /></a>
               <h6>deep conditioning mask</h6>

               <div class="price-stars">
                  <div class="review-stars">
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                  </div>
                  <div class="reviews">(8 Reviews)</div>
               </div>

               <h5>&#x20B9; 2200/- <span> &#x20B9; 2300/-</span></h5>
               <a class="add-to-cart" href="#!">Shop now</a>
            </div>
            <div class="product-item">
               <a class="product-image" href="#!"><img src="./image/Rectangle 9.png" width="70%" /></a>
               <h6>deep conditioning mask</h6>

               <div class="price-stars">
                  <div class="review-stars">
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                  </div>
                  <div class="reviews">(8 Reviews)</div>
               </div>

               <h5>&#x20B9; 2200/- <span> &#x20B9; 2300/-</span></h5>
               <a class="add-to-cart" href="#!">Shop now</a>
            </div>
            <div class="product-item">
               <a class="product-image" href="#!"><img src="./image/Rectangle 10.png" width="70%" /></a>
               <h6>deep conditioning mask</h6>

               <div class="price-stars">
                  <div class="review-stars">
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                     <li><a href="#!"><img src="./image/star.svg" width="20px;" /></a></li>
                  </div>
                  <div class="reviews">(8 Reviews)</div>
               </div>

               <h5>&#x20B9; 2200/- <span> &#x20B9; 2300/-</span></h5>
               <a class="add-to-cart" href="#!">Shop now</a>
            </div>
         </div>
      </div>
   </section>