
<div class="desc padding-top-bottom" style="background:{{ product.metafields.custom_fields["background_color"] }} !important">
      <div class="container">
         <h2>DESCRIPTION</h2>
        {% if product.metafields.custom_fields["full_description"] != blank %}
         {{ product.metafields.custom_fields["full_description"] }}
        {% endif %}
      </div>
   </div>
