<section class="ingridents padding-top-bottom">
    <div class="top-head">
        <h2>KEY INGREDIENTS THAT MAKE THE DIFFERENCE’</h2>	
    </div>
<div class="container-fluid">
  <div id="ingridents" class="owl-carousel owl-theme row">
     <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_70.png?v=1631734338" alt="">
        <h6>Aloe Vera</h6>
        <p>Soothing, moisturizes skin, and reduces blemishes and scars.</p>
     </div>
     <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_71.png?v=1631734338" alt="">
        <h6>Organic Chamomile Oil</h6>
        <p>Removes dry and dead skin, <br> makeup.</p>
     </div>
     <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_72.png?v=1631734338" alt="">
        <h6>Apple Extracts</h6>
        <p>Skin is revitalized and smooth <br> after cleansing.</p>
     </div>
     <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_73.png?v=1631734338" alt="">
        <h6>Vitamin C</h6>
        <p>Pollution and other impurities <br> from pores</p>
     </div>
  </div>
</div>
</section>

<section class="ico margin-top-bottom">
   <div class="container">
      <div id="make-owl" class="owl-carousel owl-theme row">
         <div class="ico-item">
            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-02.svg?v=1631734337" alt="">
            <p>Vegan</p>
         </div>
         <div class="ico-item">
            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-03.svg?v=1631734337" alt="">
            <p>Cruelty-Free
            </p>
         </div>
         <div class="ico-item">
            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-04.svg?v=1631734337" alt="">
            <p>Allergy Friendly</p>
         </div>
         <div class="ico-item">
            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-05.svg?v=1631734337" alt="">
            <p>Allergy Friendly</p>
         </div>
         <div class="ico-item">
            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-06.svg?v=1631734337" alt="">
            <p>GMO Free</p>
         </div>
      </div>
   </div>
</section>

<section class="use padding-top-bottom">
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-12">
            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Rectangle_80.png?v=1631734338" alt="" />
         </div>
         <div class="col-md-6 col-12">
            <h2>DIRECTIONS TO USE</h2>
            <p>Spray 2-3 times on face & neck before stepping outside.</p>
            <p>We Recommend : Use every day for radiant results.</p>
         </div>
      </div>
   </div>
</section>