<section class="ico margin-top-bottom">
   <div class="container">
      <div id="make-owl" class="owl-carousel owl-theme row">
         <div class="ico-item">
            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-02.svg?v=1631734337" alt="">
            <p>Vegan</p>
         </div>
         <div class="ico-item">
            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-03.svg?v=1631734337" alt="">
            <p>Cruelty-Free
            </p>
         </div>
         <div class="ico-item">
            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-04.svg?v=1631734337" alt="">
            <p>Allergy Friendly</p>
         </div>
         <div class="ico-item">
            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-05.svg?v=1631734337" alt="">
            <p>Allergy Friendly</p>
         </div>
         <div class="ico-item">
            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-05.svg?v=1631734337" alt="">
            <p>GMO Free</p>
         </div>
      </div>
   </div>
 </section>