
<section class="use padding-top-bottom">
      <div class="container">
      	 <div class="top-head">
      	 	<h2>DIRECTIONS TO USE</h2>	
          </div> 
         <div class="row">
            <div class="col-md-6 col-12">
               <img src="{{ product.metafields.custom_fields["directions_to_use_image"] }}" alt="" />
            </div>
            <div class="col-md-6 col-12">
              <p>{{ product.metafields.custom_fields["directions_to_use_content"] }}</p>
            </div>
         </div>
      </div>
   </section>
