<section class="shop skintone padding-top-bottom">
		<div class="container">
			<div class="top-head">
				<h2>Customer Reviews</h2>
			</div>
			<div id="tones-list" class="owl-carousel">
              
              {% for block in section.blocks %}
				<div class="tones-item">
						<div class="images {{ forloop.index0 }}">
							<img src="{{block.settings.customerimage | img_url:'1800x600'}}" />
						</div>
						<div class="img-text">
							<div class="review-stars">
								<img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/star-white.svg?v=1631653095" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/star-white.svg?v=1631653095" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/star-white.svg?v=1631653095" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/star-white.svg?v=1631653095" alt="">
								<img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/star-white.svg?v=1631653095" alt="">
							</div>
							<p>{{block.settings.testimonials}}</p>
							<p>{{block.settings.customerusername}}</p>
						</div>
				</div>
              {% endfor %}
			</div>
		</div>
	</section>





{% schema %}
  {
    "name": "Homepage Testimonials",
    "blocks": [
    {
      "type": "select",
      "name": "Add Slide",
      "settings": [
        {
          "id": "customerimage",
          "type": "image_picker",
       		"label": "Add Customer Image"
        },
        {
          "id": "testimonials",
          "type": "text",
       		"label": "Add Customer Testimonials"
        },
        {
          "id": "customerusername",
          "type": "text",
          "label": "Add Customer Username"
        }
      ]
    }
  ]
  }
{% endschema %}