<style>
    	#more {display: none;}
    	.readfullbio {font-weight:800;text-transform: uppercase; font-size:13px;display: flex; align-items: center; color:#000;font-weight:800; text-decoration:none;}
    	.readfullbio img {margin-right: 5px;}
    </style>

<section class="aboutus-title" >
    	<div class="container">
    	  <div class="top-head">
    	 </div>
    	  <div class="row justify-content-center align-items-center mt-4">
    		<div class="col-md-8 text-center">
    			<h5 class="pb-3">Athena Consumer Products (ACPPL) is an endeavour of passion for its founders, who have converged their individual professional journeys, knowledge and research into creating a brand that represents integrity, quality and authenticity. That is designed to deliver evident results by harnessing the intrinsic purity of nature to cutting-edge biotechnology.</h5>
    	  	<h3 class="fw-bold text-center pb-4">About the Founders</h3>
    		</div>
    		<hr>
    	  </div>
    	</div>
    </section>
    
    <section class="middle-section padding-top-bottom">
    	<div class="container">
    		<div class="row justify-content-center">
    			
    			
    			<div class="col-md-4 pb-4">
    				<img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/rectangle-menu.png?v=1632346319" class="pb-3" width="100%">
    				<h3 class="fw-bold">CHANDER M. SETHI</h3>
    				<h5>Current Designation</h5>
    				<a type="button" class="readfullbio" data-bs-toggle="modal" data-bs-target="#exampleModal1"><img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/frame-corners.svg?v=1632350325" width="15px"/>Read Full Bio</a>
					<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">CHANDER M. SETHI</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">Chander Sethi is a legendary industry veteran with over 45 years of experience in working and delivering profitable growth in the hyper-competitive FMCG industry. A veteran of Reckitt Benckiser (RB) with a career spanning 26 years at RB, he has overseen the exponential growth of RB’s Global Power Brands in India such as Dettol, Harpic, Lizol & Veet, in the process creating and growing those consumer product categories. He has been instrumental in RB's international footprint and revenue growth, especially in fast growth economies including Indonesia, Philippines, and Vietnam. 
 
He is on the board of ACPPL as Chairman Emeritus, and above all as a mentor, in his capacity as a shareholder, to the Athena Leadership team.</div>
					    </div>
					  </div>
					</div>
    			</div>
    			
    			
    			<div class="col-md-4 pb-4">
    				<img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/rectangle-menu.png?v=1632346319" class="pb-3" width="100%">
    				<h3 class="fw-bold">AMITAVA CHATTERJEE</h3>
    				<h5>Current Designation</h5>
    				<a type="button" class="readfullbio" data-bs-toggle="modal" data-bs-target="#exampleModal2"><img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/frame-corners.svg?v=1632350325" width="15px"/>Read Full Bio</a>
					<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">AMITAVA CHATTERJEE</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">Amitava (Amit) Chatterjee is an accomplished FMCG & Healthcare industry leader with an over 30-year track record of successful business growth and turnaround. In his capacity as leader of global Fortune 500 corporations like Sara Lee Corporation & Reckitt Benckiser, he has consistently delivered double-digit sales growth, increasing market shares of key brands as well as profitability. Having worked in 5 countries in regional & country roles, he is adept at managing cross cultural teams in global/matrix/local organizations. Amit has served as a
Director on the boards of private & listed companies in India, China, Singapore & Indonesia.
 
Amitava is Executive Chairman of ACPPL and oversees all functions of the start-up. He also serves on the Board as a shareholder.</div>
					    </div>
					  </div>
					</div>
    			</div>
    			
    			
    			<div class="col-md-4 pb-4">
    				<img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/rectangle-menu.png?v=1632346319" class="pb-3" width="100%">
    				<h3 class="fw-bold">RATANJIT DAS</h3>
    				<h5>Current Designation</h5>
    				<a type="button" class="readfullbio" data-bs-toggle="modal" data-bs-target="#exampleModal3"><img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/frame-corners.svg?v=1632350325" width="15px"/>Read Full Bio</a>
					<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">RATANJIT DAS</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">With over 30 years of experience in senior management and leadership roles in India & internationally, RatanJit Das has successfully delivered business transformations through strong strategic interventions, brand building and robust Go To Market strategies. In 2016, he led BIC Cello India as CEO and was instrumental in carving out a compelling transformational journey for the business post the acquisition from the local Cello promoters. Prior to his role as CEO of BIC Cello, he held leadership roles at Reckitt Benckiser (RB) Indonesia as President Director, and under him, the business saw rapid expansion to become one of the fastest growing FMCG businesses in the country. Ratanjit is known for his eye for detail and his exemplary track record in building strong sales and growth stories in the businesses he has led and managed.
 
Ratanjit is a Director on the Board of ACPPL and mentor to the leadership team in his capacity as a shareholder and founder member.</div>
					    </div>
					  </div>
					</div>
    			</div>
    			
    			
    			<div class="col-md-4 pb-4">
    				<img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/rectangle-menu.png?v=1632346319" class="pb-3" width="100%">
    				<h3 class="fw-bold">PRAVIN KINI</h3>
    				<h5>Current Designation</h5>
    				<a type="button" class="readfullbio" data-bs-toggle="modal" data-bs-target="#exampleModal4"><img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/frame-corners.svg?v=1632350325" width="15px"/>Read Full Bio</a>
					<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">PRAVIN KINI</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">Pravin is a highly respected and successful marketing and management professional with over 30 years of FMCG & OTC experience across categories and markets. Pravin led the Reckitt Benckiser marketing function in India and the UK for 10 years. His international exposure as the Marketing Director for RB Central Africa and Thailand lends a global and holistic perspective to the business. His experience in delivering market share growth and an exemplary level of customer experience in highly competitive environments stands out across the roles he has held.
 
Pravin is a mentor to the leadership team of ACPPL in his capacity as shareholder and co-founder.</div>
					    </div>
					  </div>
					</div>
    			</div>
    			
    			
    			<div class="col-md-4 pb-4">
    				<img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/rectangle-menu.png?v=1632346319" class="pb-3" width="100%">
    				<h3 class="fw-bold">PRANAV JHA</h3>
    				<h5>Current Designation</h5>
    				<a type="button" class="readfullbio" data-bs-toggle="modal" data-bs-target="#exampleModal5"><img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/frame-corners.svg?v=1632350325" width="15px"/>Read Full Bio</a>
					<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">PRANAV JHA</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">Pranav has over 15 years of experience in the FMCG industry with Reckitt Benckiser, across functions, categories and geographies. He has also worked in international markets with Reckitt Benckiser in the USA. He brings his core expertise in the FMCG space on Trade Marketing, OTC & Personal Care. Pranav is actively involved in building and scaling up start-ups in his personal and professional capacity as a start-up expert and consultant.
 
Pranav is on the Board of Directors of ACPPL in his capacity as a shareholder and co-founder.</div>
					    </div>
					  </div>
					</div>
    			</div>
    			
    			
    			<div class="col-md-4 pb-4">
    				<img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/rectangle-menu.png?v=1632346319" class="pb-3" width="100%">
    				<h3 class="fw-bold" style="margin-bottom: 0px;">RATIKA BHARGAVA</h3>
    				<h5>Current Designation</h5>
    				<a type="button" class="readfullbio" data-bs-toggle="modal" data-bs-target="#exampleModal6"><img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/frame-corners.svg?v=1632350325" width="15px"/>Read Full Bio</a>
					<div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">RATIKA BHARGAVA</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">Ratika Bhargava is an industry veteran in sales & marketing with over 25 years of experience across marquee customer-facing organizations such as PVR Cinemas, Metro Cash & Carry, Bharti-Walmart and most recently Kama Ayurveda. She has worked in start-up environments where she has specifically been responsible for building the business foundations for rapid scale-up. She brings with her immense experience and expertise in building teams, institutionalizing cross-functional processes and systems and preparing organizations for speed to market. In her recent role as the Head of Sales and Marketing with Kama Ayurveda, she was instrumental in Kama Ayurveda's exponential retail expansion and sales growth. In her capacity as Chief Marketing Officer for Online and Offline business, Kama more than tripled its buying customer base. The brand won many accolades and awards for best-in-class customer and product experience during her tenure. She is passionate about the beauty and wellness sector and the immense potential of an authentic, value-driven, effective beauty brand, not just within India but globally. Ratika leads the day-to-day business of ACPPL in her capacity as the Managing Director. She also serves on the Board of Directors as a shareholder and co-founder.</div>
					    </div>
					  </div>
					</div>
    			</div>
    			
    			
    		</div>
    	</div>
    </section>