    <section class="aboutus-title" >
    	<div class="container">
    	  <div class="row justify-content-center">
    		<div class="col-md-7 text-center mt-5 mb-4">
    			<h1 class="fw-bold" >Welcome to ACTIV BEAUTé.<br> Where Science meets Nature!</h1>
    		</div>
    	  </div>
    	</div>
    </section>
    
    
    <section class="home-alider mb-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/BANNER.jpg?v=1632346626" width="100%">
                </div>
            </div>
        </div>
    </section>
    <!-- home section end -->
    
    <section class="aboutus-title" >
    	<div class="container">
    	  <div class="top-head">
    	  	<h3 class="fw-bold text-center">Our Brand Story</h3>
    	 </div>
    	  <div class="row justify-content-center align-items-center mt-4">
    		<div class="col-md-8">
    			<h4 class="text-center pb-3">Nature can work wonders for beauty. And when combined with the might of good science, the results are extraordinary.</h4>
    			<p>Activ Beauté presents a unique, curated skincare range, which offers products that provide effective solutions for specific skin concerns. Our products, which are dermatologically tested & safe, are powered by active ingredients and pure extracts from natural ingredients, to give consumers the best of nature and science.</p>
    			<p>The secret behind our effective products are potent 'actives' derived from biological sources and proven to work wonders on skin in gentle, non-toxic ways. Along with the actives, our products have wholesome extracts from natural ingredients like pomegranate, tulsi, saffron, honey, almond milk, liquorice, Vitamin E and more.</p>
    			<p>Our product portfolio includes uniquely formulated Face Washes, Scrubs, Serums, Mists & Creams, both for day and night. Best of all, our products contain no traces of paraben, paraffins, sulphates, phtalates and no mineral oil (making them non-comedogenic).</p>
                <p>Activ Beauté skincare provides quality, authenticity and value to the discerning consumer in equal measure.</p>
              <h3 class="fw-bold text-center pb-4">Activ Beauté - Where Science Meets Nature.</h3>
              <h3 class="fw-bold text-center pb-4">Pure radiance, every day.</h3>
    	  	
    		</div>
    		<hr>
    	  </div>
    	</div>
    </section>
    
    <section class="middle-section padding-top-bottom  text-center">
    	<div class="container">
    		<div class="row justify-content-center align-items-center">
    			<div class="col-md-5">
    				<img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/rectangle-menu.png?v=1632346319" class="p-3" width="100%">
    			</div>
    			<div class="col-md-1"></div>
    			<div class="col-md-5">
    				<h3 class="fw-bold pb-3">the ACTIV BEAUTé collection</h3>
    				<h6 style="line-height: 1.6;" class="fw-100">Activ Beauté has three breakthrough ranges: Anti-Pollution, Brightening, Advanced Hydration, in addition to the Clarifying Face Cleanser and a power packed 3-in-1 daily usage cream, each perfect for everyday maintenance or for specific skin concerns like dullness and pigmentation, fine lines and wrinkles, pores and blemishes, pollution damage, sun exposure and more.</h6>
    			</div>
    		</div>
    	</div>
    </section>
    
    <section class="middle-section padding-top-bottom  text-center">
    	<div class="container">
    		<div class="row justify-content-center align-items-center">
    			<div class="col-md-5">
    				<h3 class="fw-bold pb-3">Our signature Radiance Icon – the story behind it</h3>
    				<h6 style="line-height: 1.6;">The Radiance Icon is inspired by the shape of the human skin cell, symbolizing the core proposition of Activ Beauté - Pure Radiance. It represents the fact that beauty is more than skin deep - it comes from within. The icon is always represented in silver metallic hues on the packaging, so it appears shimmering and alive. The simple understated black and white colour palette of the logo stands for a ‘no-nonsense’ attitude and the secondary palette with metallic hues reflects radiance as a key brand value.</h6>
    			</div>
    			<div class="col-md-1"></div>
    			<div class="col-md-5">
    				<img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/Radiance_icon-01.svg?v=1633686727" class="p-3" width="100%">
    			</div>
    		</div>
    	</div>
    </section>